# Contents in this notebook
1. Importing libraries and data
2. Creating a loyalty flag
3. Creating a spending flag
4. Creating a frequency flag

# Importing Libraries

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Defining Path
path = r'C:\Users\seann\Downloads\Career Foundry Tasks\12-08-22 Instacart Basket Analysis'

In [3]:
# Importing Ords_Prods_Merge Data Set
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_new_new.pkl'))

# 4.8 Task

In [5]:
ords_prods_merge.head()

,order_id,user_id,amount_of_orders_made,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest day,busiest days,Busiest Order Periods,max_order,loyalty_flag
0,2539329,1,1,2,8,999.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average Orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Fewest Orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average Orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Fewest Orders,10,New customer

In [4]:
# Grouping the Data
ords_prods_merge.groupby('product_name')

In [7]:
# Finding the aggregated mean 
ords_prods_merge.groupby('department_id').agg({'amount_of_orders_made': ['mean']})

              amount_of_orders_made
                               mean
department_id
1                         15.457838
2                         17.277920
3                         17.170395
4                         17.811403
5                         15.215751
6                         16.439806
7                         17.225802
8                         15.340650
9                         15.895474
10                        20.197148
11                        16.170638
12                        15.887671
13                        16.583536
14                        16.773669
15                        16.165037
16                        17.665606
17                        15.694469
18                        19.310397
19                        17.177343
20                        16.473447
21                        22.902379

The results for the entire dataframe show each department_id as opposed to the subset where we only saw 8 of the 21 department_id's.

In [21]:
# Creating a loyalty flag
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['amount_of_orders_made'].transform(np.max)

In [22]:
ords_prods_merge.head(15)

,order_id,user_id,amount_of_orders_made,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,price_range_loc,busiest day,busiest days,Busiest Order Periods,max_order,loyalty_flag,max_order_final,avg_price
0,2539329,1,1,2,8,999.0,196,1,0,Soda,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,10,14.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Slowest days,Average Orders,10,New customer,10,14.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Slowest days,Fewest Orders,10,New customer,10,14.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Slowest days,Average Orders,10,New customer,10,14.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Slowest days,Fewest Orders,10,New customer,10,14.0
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,10,14.0
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Fewest Orders,10,New customer,10,14.0
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Fewest Orders,10,New customer,10,14.0
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Fewest Orders,10,New customer,10,14.0
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Slowest days,Average Orders,10,New customer,10,14.0
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Fewest Orders,22,Regular customer,22,9.0
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest Orders,22,Regular customer,22,9.0
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest Orders,22,Regular customer,22,9.0
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Fewest Orders,22,Regular customer,22,9.0
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Fewest Orders,22,Regular customer,22,9.0

In [23]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [24]:
ords_prods_merge['loyalty_flag'].value_counts (dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [25]:
# Spending habits of the three types of customers
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [26]:
# Creating a spending flag
ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.max)

In [28]:
ords_prods_merge = ords_prods_merge.drop(columns = ['max_order_final'])

In [29]:
ords_prods_merge.head()

,order_id,user_id,amount_of_orders_made,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest day,busiest days,Busiest Order Periods,max_order,loyalty_flag,avg_price
0,2539329,1,1,2,8,999.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,14.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average Orders,10,New customer,14.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Fewest Orders,10,New customer,14.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average Orders,10,New customer,14.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Fewest Orders,10,New customer,14.0

In [35]:
ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spending_flag'] = 'low_spender'
ords_prods_merge.loc[ords_prods_merge['avg_price'] >= 10, 'spending_flag'] = 'high_spender'

In [36]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

high_spender    32372969
low_spender        31890
Name: spending_flag, dtype: int64

In [38]:
# Creating an order frequency flag
ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.max)

In [40]:
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] > 20, 'frequency_flag'] = 'non_frequent_customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order'] > 10) & (ords_prods_merge['median_days_since_prior_order'] <= 20), 'frequency_flag'] = 'regular_customer'
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] <= 10, 'frequency_flag'] = 'frequent_customer'

In [41]:
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

non_frequent_customer    32404425
regular_customer              433
frequent_customer               1
Name: frequency_flag, dtype: int64

In [44]:
ords_prods_merge = ords_prods_merge.drop(columns = ['spending flag'])

In [46]:
ords_prods_merge.head()

,order_id,user_id,amount_of_orders_made,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest day,busiest days,Busiest Order Periods,max_order,loyalty_flag,avg_price,spending_flag,median_days_since_prior_order,frequency_flag
0,2539329,1,1,2,8,999.0,196,1,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,14.0,high_spender,999.0,non_frequent_customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Slowest days,Average Orders,10,New customer,14.0,high_spender,999.0,non_frequent_customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Slowest days,Fewest Orders,10,New customer,14.0,high_spender,999.0,non_frequent_customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid-range product,Least busy,Slowest days,Average Orders,10,New customer,14.0,high_spender,999.0,non_frequent_customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid-range product,Least busy,Slowest days,Fewest Orders,10,New customer,14.0,high_spender,999.0,non_frequent_customer

In [47]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_new_updated.pkl'))